@import url('https://fonts.cdnfonts.com/css/sf-kingston');
@import url('https://fonts.cdnfonts.com/css/black-sweet');                
@import url('https://fonts.cdnfonts.com/css/willump');
@import url('https://fonts.cdnfonts.com/css/dearponypersonaluse');
@import url('https://fonts.cdnfonts.com/css/presley');
@import url('https://fonts.cdnfonts.com/css/dalmanti');
/* : root {
   --cor-primaria: 
   --cor-secundaria: */

* {
   padding: 0;
   margin: 0;
}

body {
    box-sizing: border-box;
    background-color: #222831;
    color: #9e2a2b;

   }

.cabecalho_menu {
   display: flex;
   gap: 60px;
   
}

.cabecalho_menu_link{  
   padding: 4% 5% ;
   display: flex;
   font-size: 1.50rem;
   font-weight: 400;
   color: #fffbfbe6;
   text-decoration: none;
   font-family: "SF Kingston", serif;
}

.logotipo{
   max-width: 25%;
   max-height: 25%;
   justify-content:right;
   margin: 110px 5px 5px 8px;

}

 .apresentacao_conteudo_titulo {
   font-size: 2.00rem;
   font-family: "SF Kingston", sans-serif;
   text-align: left; 
   color: #fffbfbe6;
   padding: 2px 2px 1px 70px ;
}


 .apresentacao_conteudo_texto {
   padding: 6% 6% ;
   display: flex;
   font-size: 1.20rem;
   gap: 80px;
   color: #fffbfbe6;
   font-family: "DearPonyPersonalUse", sans-serif;
 }

 .apresentacao_links {
   display: flex;
   flex-direction: center ;
   justify-content: space-between;
   align-items:start;
   gap: 80px;
   color: #fffbfbe6;
   padding: 8% 6% ;
 }

 
 .apresentacao_links_navegacao { 
   display: flex;
   justify-content:center ;
   gap: 5px;
   border: 6px double #fffbfbe6;
   width: 10%;
   text-align: center;
   border-radius: 8px;
   font-size: 1.5rem;
   padding: 4px;
   text-decoration: none;
   color: #874CCC;
   font-family: "DALMANTI", serif; 
 }
 
 .container {
   display: flex;
   align-items: center;
   background-color: #fffbfbe6;
 }

 .apresentacao_titulo_about {
   color: #181717e6;
   font-size: 2.00rem;
   font-family: "SF Kingston", sans-serif;
   text-align: center;
   padding: 6em 15px 10px 30px;   
 }

 .sobre_mim{
   font-family: "DearPonyPersonalUse"sans-serif;
   color: #222831;
   text-align: center ;
   font-size: 25px;
   max-width: 650px;
   padding: 5em 30px 5em 30px ;
  
}

.foto_camisa_preta{
   width: 40%;
   height: 30%;
   justify-content:right;
   padding: 6em 50px 5em 30px; 
}


.botoes-projetos{
   background-color: #222831;
   display: flex;
   align-items: center;
   

}


.apresentacao__conteudo__projetos{
   font-size: 70px;
   text-align:star;
   flex-direction: column;
}

.proj-efeito-proj1{
   margin-bottom: 20px;
   width: 205px;
   height: 300px;
   border-radius: 10px;
   background-color: #faf4f4a0;
   box-shadow: rgba(199, 6, 209, 0.845) 0px 10px 20px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
   text-align: center;
   margin: 5em 5em 5em 5em;
   

}

.proj-efeito-proj2{
   margin-bottom: 20px;
   width: 205px;
   height: 300px;
   border-radius: 10px;
   background-color: #faf4f4a0;
   box-shadow: rgba(199, 6, 209, 0.845) 0px 10px 20px, rgba(182, 4, 4, 0.742) 0px 15px 12px;
   text-align: center;
   justify-content: center;
   margin: 5em 5em 5em 5em;
}

.proj-efeito-proj3{
   margin-bottom: 20px;
   width: 205px;
   height: 300px;
   border-radius: 10px;
   background-color: #faf4f4a0;
   box-shadow: rgba(199, 6, 209, 0.845) 0px 10px 20px, rgba(173, 2, 2, 0.859) 0px 15px 12px;
   text-align: center;
   justify-content: center;
   margin: 5em 5em 5em 5em;
   
}

.ancoras{
   border-bottom: #874CCC;
   
}

